
#menu ul {
    margin: 0;
    padding: 0;
    display: block;
    li {
        list-style: none;
        position: relative;
    }
    ul {
        display: block;
        background: white;
    }
}

#menu > ul {
    > li {
        float: left;
        > ul {
            position: absolute;
            z-index: 10000;
        }
    }
}

#menu.vertical li {
    float: none;
}

.menu-toggle.btn {
    position: absolute;
    z-index: 10000;
}

#menu-mobile {
    position: fixed;
    bottom: 0;
    left: -100%;
    overflow-y: auto;
    top: 0;
    width: 300px;
    z-index: 9999;
    background: @body-bg;
    .transition(all 0.5s);
    &.open {
        left: 0;
    }
    > ul {
        padding: 0;
        margin: 0;
        ul {
            height: 0;
            max-height: 0;
            padding: 0;
            margin: 0;
            .transition(all 0.5s);
            li { display: none;}
        }
        ul.active {
            height: 100%;
            max-height: 200px;
            li { display: block;}
        }
    }
    li {
        position: relative;
        padding: 0;
        a {
            display: block;
            width: 100%;
        }
        &.hassubnav > .subnavtoggle {
            display: block;
            position: absolute;
            right: 0;
            top: 0;
            &:after {
                content: "+";
            }
        }
        &.hassubnav.active > .subnavtoggle:after, &.hassubnav.current > .subnavtoggle:after {
            content: "-";
        }
    }
}

#menu-mobile.dropdown {
    width: 100%;
    position: absolute;
    display: block;
    top: 50px;
    left: 0;
    right: 0;
    bottom: auto;
    overflow: auto;
    .menu-toggle {
        display: none;
    }
    > ul {
        display: none;
        li {
            overflow:hidden;
            max-height:0;
        }
    }
    &.open {
        ul { 
            display: block ; 
            li {
                max-height: 50px;
            }
        }
    }
}
