
#menu ul {
    margin: 0;
    padding: 0;
    display: block;
    li {
        list-style: none;
        position: relative;
    }
    ul {
        display: block;
        background: white;
    }
}

#menu > ul {
    > li {
        float: left;
        > ul {
            position: absolute;
            z-index: 10000;
        }
    }
}

#menu.vertical li {
    float: none;
}

.menu-toggle.btn {
    position: absolute;
    z-index: 10000;
}

#menu-mobile {
    position: fixed;
    bottom: 0;
    left: -100%;
    overflow-y: scroll;
    top: 0;
    width: 300px;
    z-index: 9999;
    &.open {
        left: 0;
    }
    > ul {
        padding: 0;
        margin: 0;
        ul {
            height: 0;
            display: none;
        }
        ul.active {
            height: 100%;
            display: block;
        }
    }
    li {
        position: relative;
        a {
            display: block;
            width: 100%;
        }
    }
    li.hassubnav > .subnavtoggle {
        display: block;
        position: absolute;
        right: 0;
        top: 0;
    }
}
